{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="UTF-8">
        <title>Scyther</title>
    </head>
    <body>
        <div id="application">
            <div id="navigation_top">
                <nav>
                    <ul>
                      <li><a>Settings</a></li>
                      <li><a>About</a></li>
                      <li><a>Profile</a></li>
                    </ul>
                </nav>
            </div>
            <div id="main_content">
                <section id="navigation_aside">
                        <nav>
                            <ul>
                                <li><a>Orderbook</a></li>
                                <li><a>Tradebook</a></li>
                                <li><a>MarketWatch</a></li>
                                <li><a>Positions</a></li>
                                <li><a>Analysis</a></li>
                            </ul>
                        </nav>
                </section>
                <section id="content_box">
                </section>
            </div>
        </div>
    </body>
</html>